.btn_color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile_image_pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody_color{
    background-color: #ebf2fa;
  }